*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #BF9553;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #f8f8f8;
}

@font-face{
    font-family: Californian FB;
    src: url(./fonts/CALIFB.TTF);
}



nav{
    width: 100%;
    height: 5rem;
    background-color: #fff;
    position: fixed;
    top: 0; 
    z-index: 1000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
nav .logo{
    width: 100%;
    display: inline;
    margin-left: 5rem;
}
nav .logo img{
    margin-top: 0.2rem;
    width: 55px;
}
nav #menu-icon{
    display: none;
}
nav #close{
    display: none;
}
nav ul{
    float: right;
    position: relative;
    margin-top: 1.5rem;
    margin-right: 5rem;
}
nav ul .logo2{
    display: none;
}
nav ul .border{
    display: none;
}
nav li{
    display: inline;
    margin-left: 1.8rem;
}
nav ul li a{
    color: #66369D;
    text-decoration: none;
}
nav ul li a:hover{
    color: #BF9553;
}
nav ul li a.active{
    color: #BF9553;
    text-decoration: underline;
}
nav ul li a.dropdown-toggle{
    background-color: transparent; 
    color: #66369D; 
    border: none;
    margin-top: -0.2rem;
}
nav ul li a.dropdown-toggle:hover{
    text-decoration: underline;
    color: #BF9553;
    background-color: transparent;
    border: none;
}
nav ul li a.dropdown-toggle:focus{
    text-decoration: underline;
    color: #BF9553;
    background-color: transparent;
}
nav ul li #dropdownMenuLink.active{
    background-color: transparent;
    color: #BF9553;
    border: none;
}
nav ul li .btn:active{
    border: none;
}
nav ul li a.dropdown-item{
    margin-top: -1rem;
    color: #66369D;
    text-align: center;
}
nav ul li a.dropdown-item:hover{
    background-color: #BF9553;
    color: #fff;
}
nav i:hover{
    color: #BF9553;
}

.book{
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #BF9553;
    font-size: 1rem;
    text-decoration: none;
}
.book:hover{
    background-color: #7c5b26d3;
    color: #fff;
}
.book.active{
    color: #fff;
}

.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    color: #66369D;
    background-color: transparent;
    border-color: #fff;
}



/* HERO DESKTOP */
.hero{
    width: 100%;
    height: 110vh;
    background-image: url(./images/hero2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.hero .text{
    text-align: center;
    margin-top: 4rem;
}
.hero .text h2{
    color: #BF9553;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.hero .text h1{
    color: #fff;
    font-weight: 400;
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    font-family: Californian FB;
}
.hero .text .prov{
    width: 70%;
    margin: auto;
    color: #BF9553;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.hero .text #coming-soon{
    animation: breath 2s ease infinite;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.hero .text #coming-soon a{
    color: #fff;
    font-weight: 400;
    font-size: 2.2rem;
    padding: 5px 20px;
    border: 3px solid #BF9553;
    border-radius: 5px;
    white-space: nowrap;
    line-height: 100px;
    transform: translateX(100%);
}
@keyframes breath {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}
.hero .text .first{
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.hero .text #email{
    width: 35%;
    padding: 20px;
    background-color: transparent;
    border: 3px solid #BF9553;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: #fff;
}
.hero .text #email::placeholder{
    color: rgba(255, 255, 255, 0.712);
    font-size: 1.2rem;
}
.hero .text #notify{
    width: 15%;
    background-color: #BF9553;
    color: #fff;
    height: 3.2rem;
    border: none;
    margin-left: -0.4rem;
    border-radius: 0 5px 5px 0;
    font-size: 0.975rem;
    cursor: pointer;
}
.hero .text #notify:hover{
    background-color: #7c5b26d3;
    color: #fff;
}
.hero .text .success{
    margin-top: 1rem;
    color: #fff;
    display: none;
}
.hero .socials{
    margin-top: 2rem;
}
.hero .socials img{
    width: 40px;
    margin-right: 1rem;
}

.affiliate-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.affiliate-form input, select{
    padding: 10px;
    border: 1px solid #66369D;
    outline: none;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.affiliate-form select{
    background-color: white;
    color: gray;
}
.affiliate-submit{
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #BF9553;
    border: none;
    outline: none;
}


/* FOOTER DESKTOP */
footer{
    width: 100%;
    background-color: #66369D;
    color: #fff;
}
footer .body{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #BF9553;
}
footer article{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    padding-top: 2rem;
}
footer article .box{
    width: 50%;
}
footer .logo{
    width: 100%;
}
footer .logo img{
    width: 70px;
}
footer article p{
    font-size: 1.125rem;
}
footer article .two h3, .three h3, .four h3{
    margin-top: 1.5rem;
    font-size: 1.7rem;
    font-family: Californian FB;
    font-weight: 400;
}
footer a{
    width: fit-content;
    display: block;
    font-size: 1.125rem;
    line-height: 2;
    color: #fff;
}
footer a:hover{
    color: #BF9553;
}
footer i{
    font-size: 1.3rem;
    margin-right: 1rem;
    color: #BF9553;
    margin-top: 0.3rem;
}
footer article .one i{
    font-size: 1.5rem;
}
footer i:hover{
    color: #fff;
}
footer .socials{
    display: flex;
}
footer .location{
    display: flex;
    margin-top: 0.5rem;
}
footer aside{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2rem;
}
footer aside .box{
    width: 50%;
    margin: 1.2rem;
}
footer aside a{
    text-decoration: none;
}
footer .credits{
    padding: 20px;
    text-align: center;
}
footer .credits p{
    font-size: 1.2rem;
}




/* NAV MOBILE */
@media screen and (max-width:1000px){
    nav{
        height: auto;
        border-bottom: 1px solid #BF9553;
        z-index: 1000000;
    }
    nav .logo img{
        margin-top: 0.3rem;
        margin-left: -3rem;
        width: 60px;
    }
    nav #menu-icon{
        display: block;
        float: right;
        font-size: 25px;
        color: #BF9553;
        margin: 2rem 2rem 0 2rem;
    }
    nav #close{
        display: none;
        font-size: 30px;
        color: #BF9553;
        float: right;
        margin: 2rem 2rem 0 2rem;
    }
    nav ul{
        display: none;
        position: absolute;
        left: 0;
        width: 60%;
        height: 100vh;
        background-color: white;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.26);
        padding-top: 0.3rem;
        margin-top: -2rem;
        top: 2rem;
    }
    nav ul .dropdown-menu{
        height: fit-content;
    }
    nav ul .logo2{
        display: block;
        height: 5rem;
    }
    nav ul .logo2 img{
        width: 60px;
    }
    nav ul .border{
        width: 100%;
    }
    nav ul li{
        display: block;
        margin-left: 0rem;
        margin-bottom: 1.5rem;
    }
    nav ul li a{
        font-size: 1.2rem;
        transition: 0.3s;
    }
    nav ul .links li #search{
        display: none;
    }
    nav .links{
        margin-top: 2rem;
    }
    nav .book{
        padding: 5% 15% ;
        font-size: 1.2rem;
    }
    nav ul li #dropdownMenuLink{
        font-size: 1.2rem;
        margin-left: -0.8rem;
    }


    /* HERO MOBILE */
    .hero{
        height: auto;
        background-image: url(./images/hero-mobile.png);
        padding: 12rem 0 6rem 0;
    }
    #blur{
        display: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .hero .text{
        margin-top: -4rem;
    }
    .hero .text h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .hero .text h1{
        width: 90%;
        margin: auto;
        font-size: 3rem;
        margin-bottom: 1rem;
   }
    .hero .text .prov{
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    .hero .text a{
        font-size: 2rem;
    }
    .hero .text .first{
        width: 90%;
        margin: auto;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .hero .text #email{
        width: 60%;
        padding: 15px;
        font-size: 1.1rem;
        color: #fff;
    }
    .hero .text #email::placeholder{
        font-size: 1rem;
    }
    .hero .text #notify{
        width: 30%;
        height: 2.5rem;
        margin-left: -0.4rem;
        font-size: 0.975rem;
    }
    .hero .socials{
        margin-top: 2rem;
    }
    .hero .socials img{
        width: 10%;
        margin-right: 0.5rem;
    }
    .affiliate-form{
        width: 90%;
    }
    .aff-modal{
        margin-top: 3rem;
    }
    

    /* FOOTER MOBILE */
    footer{
        height: auto;
        margin-top: -0.5rem;
    }
    footer .body{
        flex-flow: column wrap;
    }
    footer article{
        width: 100%;
        flex-flow: column wrap;
        margin-top: 2rem;
    }
    footer article .box{
        width: 85%;
        margin: auto;
        /* background-color: red; */
    }
    footer article .two{
        margin-top: 0rem;
    }
    footer aside{
        width: 95%;
        flex-flow: column wrap;
        margin-left: 0.8rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    footer aside .box{
        width: 90%;
        margin: auto;
        background-color: #BF9553;
    }
    footer .credits{
        width: 70%;
        margin: auto;
    }

    
}